<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
      alt=""
      height="400px"
      srcset=""
    >
  </div>

    <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__descrition">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit libero sed quam venenatis mollis.
        Praesent vestibulum dui neque, eleifend semper massa vulputate ut. Donec faucibus, lorem sit amet gravida
      </a>
    </p>

  </div>
  </div>
