.container__menu-bar > ul {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .container__menu-bar > ul > li {
  margin-right: 20px;
  list-style: none;
 }
